@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix next/image and Safari problem */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] { clip-path: inset(0.6px) }
}

body {
  font-family: "Montserrat", "M PLUS 1p", sans-serif;
}

b, strong {
}

*, *::before, *::after {
  border-color: currentColor;
  animation-fill-mode: both;
}

@keyframes expand-title-underline {
  0% {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(0%) scaleY(var(--tw-scale-y))
  }
  100% {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(110%) scaleY(var(--tw-scale-y))
  }
}

@keyframes expand-title-sideline {
  0% {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(0%)
  }
  100% {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(100%)
  }
}

@layer components {
  .bg-content-gradient {
    background-image: linear-gradient(
        to right,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) calc( (100% - 800px) / 2 ),
        rgba(255,255,255,1) calc( (100% + 800px) / 2 ),
        rgba(255,255,255,0) 100%
    );
  }
  .bg-content-gradient-alt {
    background-image: linear-gradient(
        to right,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 240px
    );
  }
}
